estoque.ws.wsdl

<?xml version="1.0"?>
<definitions
    name="ProductService"
    targetNamespace="http://localhost/estoque.ws"
    xmlns:tns="http://localhost/estoque.ws"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns="http://schemas.xmlsoap.org/wsdl/">

    <types>
        <xsd:schema targetNamespace="http://localhost/estoque.ws">
            <xsd:element name="Product" type="tns:Product"/>
            <xsd:complexType name="Product">
                <xsd:sequence>
                    <xsd:element name="name" type="xsd:string"/>
                    <xsd:element name="price" type="xsd:double"/>
                    <xsd:element name="distributionCenter" type="xsd:string"/>
                    <xsd:element name="quantityAvailable" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="ProductList" type="tns:ProductList"/>
            <xsd:complexType name="ProductList">
                <xsd:sequence>
                    <xsd:element name="products" type="tns:Product" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>

    <message name="getProductsRequest"/>
    <message name="getProductsResponse">
        <part name="products" element="tns:ProductList"/>
    </message>

    <portType name="ProductServicePortType">
        <operation name="getProducts">
            <input message="tns:getProductsRequest"/>
            <output message="tns:getProductsResponse"/>
        </operation>
    </portType>

    <binding name="ProductServiceBinding" type="tns:ProductServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getProducts">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <service name="ProductService">
        <port name="ProductServicePort" binding="tns:ProductServiceBinding">
            <soap:address location="http://localhost/estoque.ws/soap_service.php"/>
        </port>
    </service>
</definitions>